[submodule "scripts"]
	path = scripts
	url = https://github.com/beardedN5rd/prepare4ansible.git
[submodule "ansible/roles/docker"]
	path = ansible/roles/docker
	url = https://github.com/forkorama-legion/ansible-role-docker.git
